@import url('../variables.css');

.play-button-container {
  display: grid;
  place-items: center;
}

.play-button {
  width: 7rem;
  height: 7rem;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 25%;
  box-shadow: rgba(0, 0, 0, 0.25) 4px 4px 4px;
  position: relative;
  cursor: pointer;
  transition: box-shadow .15s, background-color .15s, transform .15s, color .15s;
}

.play-button:hover {
  box-shadow: none;
  transform: translate(4px, 4px);
}

.pause-button:hover {
  box-shadow: none;
  background-color: var(--primary-color);
}

.pause-button:hover .pause-icon {
  color: var(--secondary-color);
}


.play-button:active {
  box-shadow: rgb(153, 153, 153) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.25) -3px -3px 6px 1px inset;
}

.pause-button:active {
  box-shadow: #272727a6 4px 4px 4px 0px inset;
}

.pause-button {
  width: 7rem;
  height: 7rem;
  background-color:  var(--primary-color);
  transform: translate(4px, 4px);
  border: none;
  border-radius: 25%;
  position: relative;
  cursor: pointer;
  transition: box-shadow .15s, background-color .15s, transform .15s;
}

.play-icon {
  color: var(--primary-color);
  pointer-events: none;
}

.pause-icon {
  color: var(--secondary-color);
  pointer-events: none;
}

