@import url('../variables.css');

.quote {
  color: var(--primary-color);
}

.quote-text {
  font-style: italic;
  font-weight: 700;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.quote-author {
  font-size: clamp(2rem, 4vw, 5rem);
  margin-top: 1rem;
  width: 100%;
  text-align: right;
  text-transform: uppercase;
}

.icon-sound, .icon-pic, .icon-video {
  opacity: .75;
  cursor: pointer;
  transition: transform .15s ease-in-out, opacity .15s;
}

.icon-sound:hover, .icon-pic:hover, .icon-video:hover  {
  transform: scale(1.2);
  opacity: 1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  max-width: 50%;
  max-height: 50%;
  overflow-y: auto;
}

.modal-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: transparent;
  border: none;
  font-size: 3rem;
  cursor: pointer;
  }

.disabled {
  display: none;
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
