@import url('../variables.css');

.quote {
  color: var(--primary-color);
}

.quote-text {
  font-style: italic;
  font-weight: 700;
  font-size: clamp(1.5rem, 3vw, 2rem);
}

.quote-author {
  font-size: clamp(2rem, 4vw, 5rem);
  margin-top: 1rem;
  width: 100%;
  text-align: right;
  text-transform: uppercase;
}