@import url('../variables.css');

.reset-button{ 
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-reset {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  border-radius: 1rem;
  width: 7rem;
  height: 4.5rem;
  cursor: pointer;
  transition: box-shadow .15s, opacity .15s;
}

.btn-reset:hover {
  opacity: .8;
}

.btn-reset:active {
  box-shadow: #163b23a6 4px 4px 4px 0px inset, #408D5A -3px -3px 6px 1px inset;
}