@import url('../variables.css');

.minus {
  grid-area: minus;
  color: var(--primary-color);
  font-size: 4rem;
  border: none;
  padding: 0;
  background-color: transparent;
}

.plus {
  grid-area: plus;
  color: var(--primary-color);
  font-size: 4rem;
  border: none;
  padding: 0;
  background-color: transparent;
}

.session-length-title {
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
  font-size: 1.125rem;
}

.time-session {
  grid-area: time-session;
  color: var(--primary-color);
  font-size: 2.5rem;
}

.time-session-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}