@import url('../variables.css');

.type-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timer-type {
  color: var(--primary-color);
  font-size: clamp(1.5rem, 2vw, 3rem);
  font-family: 'Itim', Arial, Helvetica, sans-serif;
}

.btn-settings {
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: transform 0.3s ease-in-out, scale 0.15s;
}

.btn-settings:hover {
  transform: scale(2);
}

.btn-settings.rotate:hover {
  transform: rotate(90deg) scale(2);
}

.rotate {
  transform: rotate(90deg);
}
