@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,400;0,700;1,400&family=Itim&display=swap');

/* ===============
   DEFAULT STYLES
==================*/
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  font-family: 'Glory', sans-serif;
  /* use Google Font for body text */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ===============
   Layout Grid
==================*/

.layout-row {
  border: 3px solid magenta;
}

.layout-col {
  border: 3px solid cyan;
}

/* ===============
   GENERAL STYLES
==================*/

.App {
  background-color: white;
  background-image: url('./assets/bg1.jpg');
  background-size: contain;
}

.char-img {
  opacity: .33;
  position: fixed;
  scale: .33;
  left: 0%;
  top: -66%;
}

.bg-filter {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.content {
  margin: auto;
  /* background-color: red; */
  height: 100vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0rem 2rem 2rem 0rem;
  z-index: 1;
  width: 75%;
}

.clock {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

.timer-type {
  display: grid;
}

.timer-more-settings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 1rem;
}

.quote {
  margin-top: 2rem;
  height: 20vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  align-items: center;
}