@import url('https://fonts.googleapis.com/css2?family=Glory:wght@400;700&family=Itim&display=swap');

/* ===============
   DEFAULT STYLES
==================*/
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  /* line-height: 1.5; */
  -webkit-font-smoothing: antialiased;
  font-family: 'Glory', sans-serif;
  /* use Google Font for body text */
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ===============
   GENERAL STYLES
==================*/
.App {}



main.content {
  margin: auto;
  border: 3px solid magenta;
  background-color: gray;
  height: 100vh;
  width: 60vw;
  display: flex;
  /* use flexbox */
  flex-direction: column;
  /* stack child elements vertically */
  justify-content: center;
  /* center child elements vertically */
  align-items: center;
  /* center child elements horizontally */
}

.card {
  border: 3px solid magenta;
  height: 40vh;
  width: 50vw;
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
}

.clock {
  border: 3px solid magenta;
  display: grid;
  grid-template-columns: 1fr 2fr;  
}

.play-button {
  border: 3px solid cyan;
}

.timer-type {
  border: 3px solid cyan;
  display: grid;
}

.time-left {
  border: 3px solid magenta;
}

.type-settings {
  border: 3px solid magenta;
}







.timer-more-settings {
  border: 3px solid magenta;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.reset-button {
  border: 3px solid cyan;

}

.break-length {
  border: 3px solid cyan;

}

.session-length {
  border: 3px solid cyan;
  
}








.quote {
  margin-top: 5vh;
  /* add space between elements */
  border: 3px solid magenta;
  height: 20vh;
  width: 50vw;
  display: flex;
  /* use flexbox */
  flex-direction: column;
  /* stack child elements vertically */
  justify-content: center;
  /* center child elements vertically */
  align-items: center;
  /* center child elements horizontally */
}